#gamefield{
    width: 500px;
    border: 1px solid black;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.tile{
    width: 100%;
    aspect-ratio: 1/1;
}
.type-0{
    background-color: burlywood;
}
.type-1{
    background-color: darkgreen;
}
.type-9{
    background-color: black;
}